
p {
  color: #39433a; /* Replace with your desired color */
}


strong, .page {
  color: #007bff;
  background: #d6f5d7;
}

.navbar-brand {        /*for Cartesian Kinetics*/
  color: #0fcb67;
  font-size: 24px; 
  font-weight: bold; 
  background: #225348;
  background: #acf9a9;
}

h {
  font-size: 25px;
  margin-block: 50px;
  font-weight: bold;
  font-style: oblique;
}

h1 {
  font-size: 16px;
  margin-block: 4px;
  font-weight: bold;
}

.contained-button.success {
  background-color: #4caf50; /* Green */
  color: white;
}

.contained-button.success.disabled {
  background-color: #6b6b6b; /* Darkened color */
  color: #ccc; /* Lighter text color for disabled state */
}

.fixedTextField {
  width: 100px;
  position: fixed;
  top: 100px;
  left: 100px;
}
