
p {
  color: #39433a; /* Replace with your desired color */
}

.manual {
  box-shadow: 0 0 10px rgba(123, 38, 38, 0.2);
  width: fit-content;
  margin: 0 auto; /* This will center the content horizontally */
}


/* Current page Name */
h {
  font-size: 25px;
  margin-block: 50px;
  font-weight: bold;
  color: rgb(88, 90, 89);

}

/* Manual Page Bot number */
h1 {               
  font-size: 16px;
  margin-block: 4px;
  font-weight: bold;
}



/* Style between sub divs of manual page content, status, jog, home, move */
.App {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.column { /*  */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px; /* Add padding inside the box */
  box-shadow: 0 0 10px rgba(123, 38, 38, 0.2);
}

h2 { /* Styling of names like status, jog, home, move  */
  margin-bottom: 3px;
  color: rgb(132, 132, 171);
  padding: 5px 10px; /* Add padding inside the box */
  width: 150px;
  
}

.BottomNav {
  position: 100%;
  bottom: 0;
} 


